// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 35px;
  margin: 17.42px 0;
}

th {
  padding-bottom: 5px;
}

h2 {
  margin: 16.185px 0;
}

td {
  padding: 0 5px 7px 5px;
}

.field label {
  display: block;
}

div.field, div.actions {
  margin-bottom: 10px;
}

.field #book_title {
  padding: 1px 2px;
}

.field #book_body {
  padding: 2px;
}
input[type="submit" i] {
  padding: 1px 6px;
}

#notice {
  color: green;
}

.error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
.error_explanation h2 {
  color: #fff;
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
}
.error_explanation ul {
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
  padding-left: 40px;
}
.error_explanation ul li {
  font-size: 12px;
  list-style: square;
}